///////////////////////////
// Type styles
///////////////////////////

.logo-img {
  @include site-logo("white", 70px, 150px);
  margin: 0;
  line-height: 2;

  @include breakpoint(medium up) {
    line-height: 1.2;
  }
}